In [8]:
import pandas as pd
import numpy as np

In [9]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")

In [10]:
movies.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [11]:
movies

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [12]:
credits

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [13]:
movies.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [14]:
credits.head(5)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [15]:
# merging 2 dataframes ( either on the basis of movie_id or title)
movies = movies.merge(credits, on='title')
movies.shape
# since title is common so its 23 instead of 24

(4809, 23)

In [16]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [17]:
#hiding those columns which are not going to be helpful in our analysis
# list of columns needed to be kept ( as tags in movie recommender system ) 
# 1. genres
# 2. id
# 3. keywords
# 4. title
# 5. overview
# 6. popularity
# 7. release_date
# 8. status
# 9. cast
# 10. crew

In [18]:
movies = movies[['genres', 'movie_id', 'keywords', 'title', 'overview', 'popularity', 'status', 'release_date', 'cast', 'crew']].copy()

In [19]:
movies.head()

,genres,movie_id,keywords,title,overview,popularity,status,release_date,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,Released,2009-12-10,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,Released,2007-05-19,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,A cryptic message from Bond’s past sends him o...,107.376788,Released,2015-10-26,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,Released,2012-07-16,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",John Carter,"John Carter is a war-weary, former military ca...",43.926995,Released,2012-03-07,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [20]:
movies.isnull().sum() # checking for missing values

genres          0
movie_id        0
keywords        0
title           0
overview        3
popularity      0
status          0
release_date    1
cast            0
crew            0
dtype: int64

In [21]:
movies.dropna(inplace=True)

In [22]:
movies.duplicated().sum() # checking for duplicate rows in data

0

In [23]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [24]:
#'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
# Covert it into like this:-
# ['Action','Adventure','Fantasy','SciFi']
# Applying pre-processing(Step 1) 
# Function to convert JSON like string to list of genre names
import ast

In [25]:
# function to convert JSON-like string to list of names
def convert(obj):
    L = []
    obj = ast.literal_eval(obj) # convert JSON-like string to actual list of dictionaries 
    for i in obj:
        L.append(i['name'])
    return L 
# Applying the convert function to the genres column 
movies['genres'] = movies['genres'].apply(convert)
# Example of accessing genres of the first row
print(movies.iloc[0]['genres'])
# Printing all the rows 
print(movies['genres'])
movies['keywords'] = movies['keywords'].apply(convert)
print(movies['keywords'])

['Action', 'Adventure', 'Fantasy', 'Science Fiction']
0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4805, dtype: object
0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4804    [united states–mexico barrier, legs, arms, pap...
4805                                                   []
4806    [date, love at first sight, narration, investi...
4807                                                   []
4808            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4805, dtype: object

In [26]:
# function to get top 3 cast members
def convert3(obj):
    L = []
    obj = ast.literal_eval(obj) # Convert JSON-like string to actual list of dictionaries
    counter = 0
    for i in obj:
        if(counter!=3):
            L.append(i['name'])
            counter+=1
        else:
            break
    return L
movies['cast'] = movies['cast'].apply(convert3)
print(movies['cast'])

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4805, dtype: object

In [27]:
# in 'crew' we have to extract job = director and that director's name from the same
# dictionary(list) among a lot of dictionaries(lists).
# Ek dictionary mei ek job description ke insaan ke baare mei details hogi
# hume director ke job wale insaan ki dictionary(list) mei se uska name extract karna hai

def fetch_director(obj):
    L =[]
    obj = ast.literal_eval(obj)
    for i in obj:
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L
movies['crew'] = movies['crew'].apply(fetch_director)
print(movies['crew'])

0           [James Cameron]
1          [Gore Verbinski]
2              [Sam Mendes]
3       [Christopher Nolan]
4          [Andrew Stanton]
               ...
4804     [Robert Rodriguez]
4805         [Edward Burns]
4806          [Scott Smith]
4807          [Daniel Hsia]
4808     [Brian Herzlinger]
Name: crew, Length: 4805, dtype: object

In [28]:
# converting overview column(which is a string ) into a list so that u can concatenate it 
# with other lists(columns) & merge them into 1 column called tags 
movies['overview'] = movies['overview'].apply(lambda x:x.split())
print(movies['overview'])

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4805, dtype: object

In [29]:
# Checking the first few rows to verify 
print(movies.head())

                                          genres  movie_id  \
0  [Action, Adventure, Fantasy, Science Fiction]     19995
1                   [Adventure, Fantasy, Action]       285
2                     [Action, Adventure, Crime]    206647
3               [Action, Crime, Drama, Thriller]     49026
4           [Action, Adventure, Science Fiction]     49529

                                            keywords  \
0  [culture clash, future, space war, space colon...
1  [ocean, drug abuse, exotic island, east india ...
2  [spy, based on novel, secret agent, sequel, mi...
3  [dc comics, crime fighter, terrorist, secret i...
4  [based on novel, mars, medallion, space travel...

                                      title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity    status  \
0  [In, the, 22nd, century,, a, paraplegic, Marin...  150.437577  Released
1  [Captain, Barbossa,, long, believed, to, be, d...  139.082615  Released
2  [A, cryptic, message, from, Bond’s, past, send...  107.376788  Released
3  [Following, the, death, of, District, Attorney...  112.312950  Released
4  [John, Carter, is, a, war-weary,, former, mili...   43.926995  Released

  release_date                                              cast  \
0   2009-12-10  [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1   2007-05-19     [Johnny Depp, Orlando Bloom, Keira Knightley]
2   2015-10-26      [Daniel Craig, Christoph Waltz, Léa Seydoux]
3   2012-07-16      [Christian Bale, Michael Caine, Gary Oldman]
4   2012-03-07    [Taylor Kitsch, Lynn Collins, Samantha Morton]

                  crew
0      [James Cameron]
1     [Gore Verbinski]
2         [Sam Mendes]
3  [Christopher Nolan]
4     [Andrew Stanton]

In [30]:
import ast
# Correct conversion of popularity, release_date, and status columns
def clean_simple_string(x):
    x = str(x).strip("[]'")  # Remove brackets and quotes
    return [x]

movies['popularity'] = movies['popularity'].apply(clean_simple_string)
movies['release_date'] = movies['release_date'].apply(clean_simple_string)
movies['status'] = movies['status'].apply(clean_simple_string)

# Print the first 5 elements to check correctness
print("Popularity:", movies['popularity'].head())
print("Release Date:", movies['release_date'].head())
print("Status:", movies['status'].head())

Popularity: 0    [150.437577]
1    [139.082615]
2    [107.376788]
3     [112.31295]
4     [43.926995]
Name: popularity, dtype: object
Release Date: 0    [2009-12-10]
1    [2007-05-19]
2    [2015-10-26]
3    [2012-07-16]
4    [2012-03-07]
Name: release_date, dtype: object
Status: 0    [Released]
1    [Released]
2    [Released]
3    [Released]
4    [Released]
Name: status, dtype: object

In [31]:
# removing extra space or tabs b/w single entity of every column 
# eg: Sam Worthin -->> SamWorthin , Science Fiction -->> ScienceFiction

movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x]) 
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies.head()

,genres,movie_id,keywords,title,overview,popularity,status,release_date,cast,crew
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",[150.437577],[Released],[2009-12-10],"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,"[Adventure, Fantasy, Action]",285,"[ocean, drugabuse, exoticisland, eastindiatrad...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",[139.082615],[Released],[2007-05-19],"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,"[Action, Adventure, Crime]",206647,"[spy, basedonnovel, secretagent, sequel, mi6, ...",Spectre,"[A, cryptic, message, from, Bond’s, past, send...",[107.376788],[Released],[2015-10-26],"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,"[Action, Crime, Drama, Thriller]",49026,"[dccomics, crimefighter, terrorist, secretiden...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...",[112.31295],[Released],[2012-07-16],"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,"[Action, Adventure, ScienceFiction]",49529,"[basedonnovel, mars, medallion, spacetravel, p...",John Carter,"[John, Carter, is, a, war-weary,, former, mili...",[43.926995],[Released],[2012-03-07],"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [32]:
# merging of all columns except movie_id and title 
movies['tags'] = movies['genres'] + movies['keywords'] + movies['overview'] + movies['cast'] + movies['crew'] + movies['popularity'] + movies['status'] + movies['release_date']

In [33]:
# Inspect the original tags column
print("Original 'tags' column:")
print(movies['tags'].head(10))

# Check the type of the first few entries
print("\nData types in 'tags' column:")
print(movies['tags'].apply(lambda x: type(x)).unique())

Original 'tags' column:
0    [Action, Adventure, Fantasy, ScienceFiction, c...
1    [Adventure, Fantasy, Action, ocean, drugabuse,...
2    [Action, Adventure, Crime, spy, basedonnovel, ...
3    [Action, Crime, Drama, Thriller, dccomics, cri...
4    [Action, Adventure, ScienceFiction, basedonnov...
5    [Fantasy, Action, Adventure, dualidentity, amn...
6    [Animation, Family, hostage, magic, horse, fai...
7    [Action, Adventure, ScienceFiction, marvelcomi...
8    [Adventure, Fantasy, Family, witch, magic, bro...
9    [Action, Adventure, Fantasy, dccomics, vigilan...
Name: tags, dtype: object

Data types in 'tags' column:
[<class 'list'>]

In [34]:
import ast 
# conver the tags from representation of lists to actual lists (if needed) 
movies['tags'] = movies['tags'].apply(lambda x: ast.literal_eval(x) if isinstance (x, str) else x)
# Now join the tags as a single string and preprocess them 
movies['tags'] = movies['tags'].apply(lambda x: " ".join(x) if isinstance(x, list) else "")
movies['tags'] = movies['tags'].apply(lambda x: x.lower())

# Inspect the resulting tags 
print("Sample tags after preprocessing")
print(movies['tags'].head(10))

Sample tags after preprocessing
0    action adventure fantasy sciencefiction cultur...
1    adventure fantasy action ocean drugabuse exoti...
2    action adventure crime spy basedonnovel secret...
3    action crime drama thriller dccomics crimefigh...
4    action adventure sciencefiction basedonnovel m...
5    fantasy action adventure dualidentity amnesia ...
6    animation family hostage magic horse fairytale...
7    action adventure sciencefiction marvelcomic se...
8    adventure fantasy family witch magic broom sch...
9    action adventure fantasy dccomics vigilante su...
Name: tags, dtype: object

In [35]:
moods = ['happy', 'sad', 'scared', 'excited', 'funny', 'relaxed', 'romantic', 'adventurous', 'thrilling', 'mysterious', 'nostalgic', 'heart touching']

In [36]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Vectorize the tags for content-based filtering
cv = CountVectorizer(max_features=5000, stop_words='english')
vectorized_tags = cv.fit_transform(movies['tags'])

# Calculate the cosine similarity matrix
cosine_sim = cosine_similarity(vectorized_tags.toarray())

# Print the shape of the cosine similarity matrix to verify it worked
print("Cosine similarity matrix shape:", cosine_sim.shape)

Cosine similarity matrix shape: (4805, 4805)

In [37]:
movies = movies[['movie_id', 'title', 'tags', 'popularity', 'genres']]
movies['tags'] = movies['tags'].apply(lambda x: " ".join(x))
movies['tags'] = movies['tags'].apply(lambda x: x.lower())

In [38]:
def incoporate_moods(row):
    moods_tags = []
    genres = row['genres']
    
    if 'Comedy' in genres or 'Adventure' in genres or 'Animation' in genres:
        moods_tags.append('happy')
    if 'Drama' in genres or 'Romance' in genres or 'War' in genres:
        moods_tags.append('sad')
    if  'Drama' in genres or 'Romance' in genres or 'Music' in genres or 'War' in genres:
        moods_tags.append('heart touching')
    if 'History' in genres or 'Animation' in genres or 'Music' in genres or 'Family' in genres:
        moods_tags.append('nostalgic')
    if 'Comedy' in genres:
        moods_tags.append('funny')
    if 'Adventure' in genres:
        moods_tags.append('adventurous')
    if 'Romance' in genres:
        moods_tags.append('romantic')
    if 'Mystery' in genres:
        moods_tags.append('mysterious')
    if 'Horror' in genres or 'Mystery' in genres:
        moods_tags.append('scared')
    if 'Action' in genres or 'Thriller' in genres:
        moods_tags.append('excited')
    if 'Thriller' in genres: 
        moods_tags.append('thrilling')
    if 'Fantasy' in genres or 'Family' in genres:
        moods_tags.append('relaxed')
    return moods_tags
    
movies['moods'] = movies.apply(incoporate_moods, axis=1)
movies['moods'] = movies['moods'].apply(lambda x: " ".join(x))
movies.head()

,movie_id,title,tags,popularity,genres,moods
0,19995,Avatar,a c t i o n a d v e n t u r e f a n t a s ...,[150.437577],"[Action, Adventure, Fantasy, ScienceFiction]",happy adventurous excited relaxed
1,285,Pirates of the Caribbean: At World's End,a d v e n t u r e f a n t a s y a c t i o ...,[139.082615],"[Adventure, Fantasy, Action]",happy adventurous excited relaxed
2,206647,Spectre,a c t i o n a d v e n t u r e c r i m e ...,[107.376788],"[Action, Adventure, Crime]",happy adventurous excited
3,49026,The Dark Knight Rises,a c t i o n c r i m e d r a m a t h r i ...,[112.31295],"[Action, Crime, Drama, Thriller]",sad heart touching excited thrilling
4,49529,John Carter,a c t i o n a d v e n t u r e s c i e n c ...,[43.926995],"[Action, Adventure, ScienceFiction]",happy adventurous excited

In [57]:
import re
def clean_tags(tag_series):
    #Remove spaces b/w characters in tags
    cleaned_tags = tags_series.apply(lambda x:re.sub(r'\s+', '', x) if isinstance(x, str) else x)
    return cleaned_tags

In [67]:
def get_recommendations(mood):
    
    # check if 'moods' column exists
    if 'moods' not in movies.columns:
        print("Error: 'moods' column not found in the movies Dataframe.")
        return[]
    else:
        print("Moods column is there")
    
    # Define a mapping between moods and genres
    mood_to_genre = {
        'happy': ['Comedy', 'Family'],
        'sad': ['Drama', 'Romance'],
        'scared': ['Horror'],
        'excited': ['Action', 'Adventure'],
        'funny': ['Comedy'],
        'relaxed': ['Drama', 'Romance'],
        'romantic': ['Romance'],
        'adventurous': ['Adventure'],
        'thrilling': ['Thriller', 'Action'],
        'mysterious': ['Mystery', 'Thriller'],
        'nostalgic': ['Drama', 'Family'],
        'heart touching': ['Drama', 'Romance']
    }

    # Get genres associated with the selected mood
    genres_for_mood = mood_to_genre.get(mood.lower(), [])
    
    filtered_movies = movies[movies['moods'].apply(lambda x: mood in x)]
    if filtered_movies.empty:
        return[]
    # Inspecting the tags after filtering
    #print("Filtered tags columns: ")
    #print(filtered_movies['tags'])
    
    # Check if the filtered tags are empty or contain only stop words
    if filtered_movies['tags'].str.strip().eq('').all():
        print(f"No tags found for the movies in the {mood} mood.")
        return []
        
    # Vectorize the tags of filtered movies
    cv = CountVectorizer(max_features=5000, stop_words='english')
    try:
         filtered_vectorized_tags = cv.fit_transform(filtered_movies['tags'])
    except ValueError as e:
        print(f"Error during vectorization: {e}")
        return []
        
    # check if vocabulary is empty after vectorization 
    if len(cv.get_feature_names_out()) == 0:
        print(f"Empty vocabulary after filtering the tags for the {mood} mood.")
        return []
        
    # Calculate cosine similarity for filtered movies
    filtered_cosine_sim = cosine_similarity(filtered_vectorized_tags)

    # Get the top 10 movie recommedations
    similar_movie_indices = filtered_cosine_sim.mean(axis=0).argsort()[::-1][:10]
    #Return movie titles based on the similar movie indices
    recommended_movies = filtered_movies.iloc[similar_movies_indices]['title'].tolist()

    return recommended_movies

In [61]:
# Weekly top 10 movies 
def get_weekly_top_10():
    top_10_movies = movies.sort_values(by='popularity', ascending=False).head(10)
    top_10_titles = top_10_movies['title'].values
    return top_10_titles
print( get_weekly_top_10())

['The Twilight Saga: Breaking Dawn - Part 2' 'Ice Age'
 'Thor: The Dark World' 'Man of Steel'
 'Harry Potter and the Half-Blood Prince' 'Fifty Shades of Grey'
 '12 Years a Slave' 'I, Robot' 'Gladiator' 'Ex Machina']

In [69]:
# User Wishlists Management 
class Wishlist:
    def __init__(self):
        self.wishlist = []
        
    def add_to_wishlist(self, movie_title):
        user_response = input(f"Do you want to add '{movie_title}' to your wishlist? (yes/no): ").strip().lower()
        if user_response == 'no':
            print("Ok, no problem.")
        elif user_response == 'yes':    
            self.wishlist.append(movie_title)
            print(f'"{movie_title}" has been added to your wishlist.')
            self.show_wishlist_prompt()
            
    def show_wishlist_prompt(self):
        view_response =input("here is your watchlist...Do you want to view it? (yes/no): ").strip().lower()
        if view_response == 'yes':
            self.show_wishlist()
    def show_wishlist(self):
        if not self.wishlist:
            print("Your watchlist is empty.")
        else:
            print("Your watchlist: ")
            for movie in self.wishlist:
                print(movie)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Function to ask user for mood and recommend movies 
def recommend_movies_for_user():
    print("Please select your mood:")
    for i, mood in enumerate(moods, 1):
        print(f"{i}. {mood}")
    selected_mood_index = int(input("Enter the number corresponding to your mood: "))
    selected_mood = moods[selected_mood_index -1]

    recommendations = get_recommendations(selected_mood)
    if recommendations:
        print(f"\nMovies recommended for your {selected_mood} mood: ")
        for movie in recommendations:
            print(movie)
    else:
        print(f"No recommendation found for the {selected_mood} mood.")
    # Weekly top 10 movies 
    weekly_top_10 = get_weekly_top_10()
    print("\nWeekly Top 10 Movies: ")
    for movie in weekly_top_10:
        print(movie)   
    # Wishlist Functionality 
    wishlist = Wishlist()
    while True:
        print("\nDo you want to add any movie in your wishlist?? (yes/no)")
        add_to_wishlist = input().lower()
        if add_to_wishlist == 'yes':
            print("Enter the movie title to add to your wishlist: ")
            movie_title = input()
            wishlist.add_to_wishlist(movie_title)
            print("Your movie has been added to wishlist... thanks for adding it...making your experience better!!!")
        elif add_to_wishlist == 'no':
            print(" Ok, no problem")
            break
        else:
            print("Please enter a valid response (yes/no).")
    print("\nYour Wishlist:")
    wishlist.view_wishlist()
# Run the recommender system
recommend_movies_for_user()

Please select your mood:
1. happy
2. sad
3. scared
4. excited
5. funny
6. relaxed
7. romantic
8. adventurous
9. thrilling
10. mysterious
11. nostalgic
12. heart touching

Enter the number corresponding to your mood:  1

Moods column is there
Error during vectorization: empty vocabulary; perhaps the documents only contain stop words
No recommendation found for the happy mood.

Weekly Top 10 Movies:
The Twilight Saga: Breaking Dawn - Part 2
Ice Age
Thor: The Dark World
Man of Steel
Harry Potter and the Half-Blood Prince
Fifty Shades of Grey
12 Years a Slave
I, Robot
Gladiator
Ex Machina

Do you want to add any movie in your wishlist?? (yes/no)